.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: red;
  color: white;
  }

body {
  background-color: DodgerBlue;
  margin: 0;
}

#map {
  height:500px;
  width: 70%;
  margin: auto;
  padding: 10px;
}

p {
  margin: auto;
  text-align: center;
  width: 50%;
  color: white;
}

#box {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 30%;
  justify-content: center;

}